<div id="myApp">

  <mat-toolbar class="toolbar" color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="shopName">SmolDog Shopping Store</span>
    <form class="example-form">
      <mat-form-field class="example-full-width">
      <mat-label>Search</mat-label>
      <input matInput id="input"> <mat-icon matSuffix id="iconSearch">search</mat-icon>
      </mat-form-field>
    </form>
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <button mat-button>SIGN IN</button>
      <button mat-button>SIGN UP</button>
    </div>
      <button [routerLink]="['cart']" mat-icon-button class="icon" aria-label="Example icon-button with shopping_cart icon">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="icon" aria-label="">
        <mat-icon>home</mat-icon>
      </button>
  </mat-toolbar>

</div>

<div class="title">
  <h1>PRODUCT</h1>
</div>
<div class ="sanPham">
  <app-dog-folder [item]="item" (itemChange)="itemChange($event)" *ngFor="let item of items"></app-dog-folder>
</div>
<router-outlet></router-outlet>

